@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Spartan', sans-serif;
    background-color: #483d8b;
}
.main-box{
    position: relative;
    justify-content: center;
    align-items: center;
}
p{
    margin-top: 80px;
    text-align: center;
    font-size: 50px;
    color: #F1F1F1;
}
h2{
    text-align: center;
    font-size: 70px;
    margin-top: 190px;
    color: #f1f1f1;
}
img{
    width: 1000px;
}